.boton{
    display: inline-block;
    border: 3px solid gray;
    padding: 10px;
    
}
#centrar{
    box-sizing: border-box;
    margin:0px;
    padding-left: 400px ;
    padding-top: 200px;
    background-color: #33ffcc;
        width: 100%;
        height: 100%;
        border: 1px solid green;
} 
#tabla {
    margin: 50px auto;
    background-color: whitesmoke;
 
}
